# ==================================
# НАСТРОЙКИ DJANGO ПРОЕКТА
# ==================================
DJANGO_SECRET_KEY='super_secret_django_key'
DJANGO_ENV=development  # 'development' или 'production'
ALLOWED_HOSTS=127.0.0.1,localhost
# ==================================
# НАСТРОЙКИ БАЗЫ ДАННЫХ
# ==================================
DB_NAME='db_name'
DB_USER='db_user'
DB_PASSWORD='db_user_password'
DB_HOST='localhost'
DB_PORT=5432
# ==================================
# НАСТРОЙКИ ШИФРОВАНИЯ
# ==================================
FIELD_ENCRYPTION_KEY='super_secret_encription_key'
# ==================================
# НАСТРОЙКИ ОРГАНИЗАЦИИ
# ==================================
ORG_NAME_FULL="ООО «Рога и копыта»"
ORG_INN="0000000000"
ORG_KPP="000000000"
ORG_OGRN="0000000000000"
ORG_ADDRESS_LEGAL="000000, город Город, улица Улица, д. 1 литера А"
ORG_CONTACT_PHONE="0(000)000-00-00"
# Структура: {"Название отдела": ["Должность 1", "Должность 2"]}
ORG_STRUCTURE_JSON='{
    "Руководство": ["Директор", "Первый заместитель директора"],
    "Отдел №1": ["Руководитель отдела", "Заместитель руководителя отдела", "Работник"],
    "Отдел №2": ["Руководитель отдела", "Заместитель руководителя отдела", "Работник"]
}'