{% extends 'base.html' %}
{% block title %}
WorkSafeCenter - Инструктажи и обучение
{% endblock %}
{% block content %}
<section>
  <h2>Сводка по дополнительному образованию</h2>
  {% if summary_data %}
  <table border="1" cellpadding="5" cellspacing="0" width="100%">
    <thead>
    <tr>
      <th>Наименование программы обучения</th>
      <th>Прошли обучение</th>
      <th>Приближается срок повторного обучения (Истекает через 4 мес.)</th>
    </tr>
    </thead>
    <tbody>
    {% for summary in summary_data %}
    <tr>
      <td>{{ summary.name }} ({{ summary.hours }} часов)</td>
      <td>{{ summary.total_count }} чел.</td>
      <td>{{ summary.approaching_count }} чел.</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>Данные о дополнительном образовании отсутствуют.</p>
  {% endif %}
  <br>
  <hr>
  <h2>Сводка по проведенным инструктажам</h2>
  {% if safety_summary %}
  <table border="1" cellpadding="5" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Категория инструктажа</th>
        <th>Тип инструктажа</th>
        <th>Количество человек, прошедших инструктаж</th>
      </tr>
    </thead>
    <tbody>
      {% for item in safety_summary %}
      <tr>
        <td>{{ item.category }}</td>
        <td>{{ item.type }}</td>
        <td>{{ item.count }} чел.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>Проведенные инструктажи не найдены.</p>
  {% endif %}
</section>
{% endblock %}